
 
		 
 

<!-- FIN ANALYTICS -->          

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2><br><br>
                    
                  

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Honda FAME Uruapan </h3>
<span class="single-project-content">
                    <img alt="Honda Uruapan Ubicación" src="images/fachada-honda-uruapan.jpg"></span> <br>
                    <p align="justify"><li><span><i class="fa fa-home"></i>Paseo Lázaro Cárdenas #451</span> <span>Col. Morelos. </span> <span>Uruapan, Michoacán.</span></li></p><br>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->

 

	 
 
	
</body>
</html>